@font-face {
  font-family: "Univers";
  src: local("UniversOblique"),
  url("./fonts/UniversOblique.ttf")
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #bda6f8;
  display: block;
  background: radial-gradient(circle, rgba(166,197,242,1) 50%, rgba(195,254,109,1) 100%);
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 4rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li.hover {
  background-color: #777;
}

.gameMenu {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

/* .marquee{
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
}

.marquee-span {
  font-family: Univers;
  font-style: italic;
  display: inline-block;
  display: inline-block;
  text-align: center;
  -webkit-text-stroke: 5px;
  white-space: nowrap;
  height: 80%;
  line-height: 200px;
  font-size: 85px;
  animation: marquee 20s linear infinite;
} */

/* @keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */

.controls {
  padding-top: 100px;
  display: flex;
  justify-content: center ;
  align-items: center;
}

button {
  display: block;
  width:120px;
  height: 40px;
  background:none;
  border: 2px solid rgb(255, 255, 255);
  padding: 6px 12px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin: 20px;

}


button:hover {
  background: blueviolet;
  color: #fff;
}

.card img {
  display: block;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotate(0deg);
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.grid-card-full {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* gap:1rem; */
  padding-left: 20px;
}

.grid-card-med {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap:1rem; */
  padding-left: 20px;
}

.grid-card-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap:1rem; */
  padding-left: 20px;
}

.card-card {
  gap:1rem;
  padding-top: 1rem;
}

.marquee {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
}
