* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.App{
  max-width: 860px;
  margin:40px auto;
}

@font-face {
  font-family: "Univers";
  src: local("UniversOblique"),
  url("./fonts/UniversOblique.ttf")
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #bda6f8;
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgb(166,197,242);
  background: radial-gradient(circle, rgba(166,197,242,1) 50%, rgba(195,254,109,1) 100%);
}

button {
  background:none;
  border: 2px solid rgb(0, 0, 0);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: blueviolet;
  color: #fff
}

.card-grid {
  height: 800px;
  width: 1400px;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: (3, 1fr);
  gap: 20px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */
}

.card {
  position: relative;
    /* background-image: url("/ftcd-app-fe/public/img/cover.png"); */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.card img {
  width: 100;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotate(0deg);
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.marquee{
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
}

.marquee-span {
  font-family: Univers;
  font-style: italic;
  display: inline-block;
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  -webkit-text-stroke: 5px;
  white-space: nowrap;
  min-width: 100%;
  height: 80%%;
  line-height: 70px;
  font-size: 85px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}