/* fonts */

@font-face {
  font-family: "Univers";
  src: local("UniversOblique"),
  url("fonts/UniversOblique.ttf") format("truetype"),
} 

@font-face {
  font-family: "Basteleur-Bold";
  src: local("Basteleur-Bold"),
  url("./fonts/Basteleur-Bold.otf") format("opentype")
}

@font-face {
  font-family: "Riposte-Light";
  src: local("Riposte-Light"),
  url("./fonts/Riposte-Light.otf") format("opentype")
}

/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  text-align: center;
}

/* navbar */

.nav {
  color: #6a37d9;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: #d9f794; */
  background-image: url("./fonts/background\ navbar.png");
  background: linear-gradient(126deg, rgba(67,75,217,1) 29%, rgba(26,45,183,1) 43%, rgba(142,59,226,1) 80%, rgba(244,105,129,1) 97%),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='2.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='URL(%23noiseFilter)' /%3E%3C/svg%3E");
  filter: contrast(200%) brightness(200%);
  filter: drop-shadow(0px 5px 10px #6a37d9);
  white-space: nowrap;
}

.nav ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: none;
}
.nav a:focus {
  text-decoration: none;
}
.nav a:active {
  text-decoration: none;
}
.nav a:visited {
  text-decoration: none;
}

.sections a:hover {
  color: #ffffff;
  transform:scale(1.1);
}

.sections a:active {
  color: #ffffff;
  transform:scale(1.1);
}

.sections a:visited {
  color: #ffffff;
  outline: none;
}

.sections a:focus {
  color:#ffffff;
  outline: none;
  transform:scale(1.1);
}

#infinite{
  width:250px!important; /* or whatever width you want. */
  max-width:250px !important; /* or whatever width you want. */
}

.site-t {
  font-family: "Basteleur-Bold" !important;
  font-family: "Riposte-Light" !important;
  font-style: italic; 
  font-size: 7rem !important;
  font-weight: 800 !important;
  letter-spacing: 4px;
  margin-right: auto !important;
  font-style: bold;
  color: #ffffff !important;
  animation: animate 10s linear infinite;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
	-webkit-text-fill-color: white;

}


/* @keyframes animate {
  100%{
    transform: translate(-50%, 0);
  }
} */

/* .sections{
  font-size: 20px;
  font-family: "Riposte-Light"; 
} */

.li .active{
  color: #6a37d9;
}

.logo{
  margin-top: 3px;
  margin-left: 2rem;
  width: 60px;
  color: white;
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
  justify-content: center;
  align-items: center;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.gameMenu {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d9f794;
  ;
}

.form-select-sm {
  padding: 0.85rem;
  background-color: transparent;
  border: 2px solid rgb(116,61,235);  
  transition: border-color 0.5s, background-color 0.5s, color 0.5s
}

.form-select-sm:hover {
  background-color: #d9f794;
  border-radius: 0;
  border: 2px solid rgb(116,61,235);
}

.form-select-sm:active, 
.form-select-sm:focus {
  outline: none;
  border-radius: 0 !important;
  border: 2px solid rgb(116,61,235) !important;
}

.controls {
  padding-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center ;
  gap: 1rem;
  align-items: center;
}

button {
  display: block;
  width:120px;
  height: 40px;
  background:none;
  border: 2px solid rgb(116,61,235);
  padding: 6px 12px;
  /* border-radius: 8px; */
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin: 20px;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s
}

button:hover {
  background: blueviolet;
  color: rgb(116,61,235);
  background-color: #d9f794;
}

.btn-contaner{
  text-align: center;
}

.button5{
  margin: auto;
  margin-top: 2rem;
}

.card img {
  display: grid;
  border-radius: 20px;
  
}


.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotate(0deg);
  border-radius: 20px;
}

.back {
  border-radius: 20px;
}

.grid-card-full {

  display: grid;
  grid-template-columns: repeat(8, 220px);
  gap: 1.5rem;
  filter: drop-shadow(0 0 0.70rem #743cec);
  justify-content: center;
}

.grid-card-med {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  gap:2rem; 
  filter: drop-shadow(0 0 0.70rem #743cec);
  justify-content: center;
}

.grid-card-small {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 2rem;
  filter: drop-shadow(0 0 0.70rem #743cec);
  justify-content: center;
}

.img-display{
  display: flex;
  grid-template-columns: repeat(3, 200px);
  gap: 1rem;
  filter: drop-shadow(0 0 0.70rem #743cec);
  justify-content: center;
  padding: 10rem;
}


.display-single{
  border-radius: 20px;
  margin: 4rem;
 
}

.card-card {
  gap:rem;
  padding-top: 1rem;
} 

.marquee {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
}

.title{

  padding: 2rem;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  font-family: "Basteleur-Bold";
  font-family: "Riposte-Light";
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(26,45,183,1);
  max-width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-size: 5rem;
}


.text {
  font-family: "Riposte-Light";
  text-align: center;
  max-width: 40%;
  margin: auto;
  list-style: none;
  font-size: 20px;
  /* padding-bottom: 2em;
  padding-top: 2rem; */
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f96c7c;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */       /* roundness of the scroll thumb */
  border: 3px solid #f96c7c;  /* creates padding around scroll thumb */
}

#homepage{
  padding-top: 5rem;
}

#end{
  padding-bottom: 20rem;
}


.page-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  
}

#superrr-div{
  align-items: center;
  justify-content: center;
}


/* .noise {
  position: relative;
	z-index: 1;
} */

html,body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: cover;
  background-image: url(./fonts/v904-nunny-012.jpg);
  display: block;
}

.Display-all{
  padding-top: 10rem;
  /* background-color: white; */
  background-image: url(./fonts/v904-nunny-012.jpg);
  /* background-repeat: inherit; */

   background-repeat: round;
   background-size: 1636px;

}

.footer{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  height: 2.5rem;  
  font-family: "Riposte-Light";
  color: rgba(26,45,183,1);
  font-weight: 500;
  animation: animate 30s linear infinite;
}

.footer2{
  margin-top: auto;
  position: absolute;
}








